<section class="breed">
  {{#with breedInfo}}
    <div class="breed__image">
      <img src={{image.url}} class="image" alt="cat image">
    </div>
    <div class="breed__information">
      <h1 class="breed__title title">{{name}}</h1>
      <p>{{description}}</p>
      <p><span class="bold">Temperament:</span> {{temperament}}</p>
      <p><span class="bold">Origin:</span> {{origin}}</p>
      <p><span class="bold">Life span:</span> {{life_span}} years</p>
      {{{bar 'Adaptabilty' adaptability 5 }}}
      {{{bar 'Affectation level' affection_level 5 }}}
      {{{bar 'Child friendly' child_friendly 5 }}}
      {{{bar 'Grooming' grooming 5 }}}
      {{{bar 'Intelligence' intelligence 5 }}}
      {{{bar 'Health issues' health_issues 5 }}}
      {{{bar 'Social needs' social_needs 5 }}}
      {{{bar 'Stranger friendly' stranger_friendly 5 }}}
    </div>
  {{/with}}
</section>
<section class="images">
  <h2 class="title">Other photos</h2>
  <div id="galery-template-content"></div>
</section>
